html,body {
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #EEE;
	font: 14px Tahoma;
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#main {
	position: inherit;
	background-color: white;
	width: 100% ;
	height: 100% ;
	margin: 0;
	margin-top: 0;
	border-radius: 4px;
	/*margin: auto;
	width: 90%;
	height: 90%;
	margin-top: 1%;

	border-radius: 4px;*/
}
#main.debug{
	position:relative;
	width: 90%;
	height: 90%;
	margin: auto;
	margin-top: 1%;
	border-radius: 4px;
}
#main.release{
	width: 100%;
	height: 100%;
	margin: 0;
	margin-top: 0;
}

#typing {
	position: absolute;
	left: 0;
	margin: auto;
	width: 50%;
	height: 100%;
	margin: 0;
	background-color: white;
}

#character {
	position: absolute;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
}
canvas{
	position:fixed;
}
#character iframe {
	border: 0;
	width: 100%;
	height: 100%;
}


.console .log {
	width: 100%;
	height: calc(100% - 80px);
	padding:20px;
	overflow: auto;
}

.console .log .msg {
	width: calc(100% - 50px);
    border-radius: 5px;
    background-color: #EEE;
    color: black;
    font-size: 1.4em;
    padding: 8px;
    padding-left: 16px;
	box-shadow: #EEE 2px 2px 2px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.console .log .msg.me
{
    background-color: #EFE;
	margin-left: 0px;
}

.console .log .msg.sys
{
    font-size: 1em;
	color: #AAA;
    background-color: white;
	margin-left: 0px;
	width: 100%;
	box-shadow: transparent 0 0 0;
}

.console .typing {
	width: 100%;
	height: 80px;
	border-top: 1px dashed #AAA;
}

.console .typing input {
	border: 0;
	border-radius: 4px;
	background-color: #EEE;
	color: black;
	font-size: 1.8em;
	width: calc( 100% - 200px );
	margin-left: 12px;
	margin-top: 12px;
	padding: 10px;
}

.console .typing button#send {
	border: 0;
	border-radius: 0 8px 8px 0;
	background-color: #76a5d4;
	color: white;
	width: 90px;
	font-size: 1.8em;
	padding: 10px;
	margin-left: 4px;
}
.console .typing button#mic {
	font-size: 1.8em;
    border: 0;
    background-color: transparent;
	padding: 15px;
	margin-left: 4px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: contain;
	background-image:url(./imgs/mic.png);
}


.console .typing button:hover {
	background-color: #8a9caf !important;
	cursor: pointer;
}
.console .typing button#mic:hover {
	border: 1px solid #8a9caf;
}
.console .typing button#mic.animated {
	border: 3px solid #77b2d4;
	animation: heart-in infinite 2s;

}
 @keyframes heart-in {        /* give it a name: "go-left-right" */
    0% { border: 3px solid #77b2d4;width: 50px; height: 50px;}             /* animate from left: 0px */
    50% { border: 3px solid #d47777f5; width: 52px; height: 52px;} /* animate to left: 100%-50px */
	100% { border: 3px solid #77b2d4;width: 50px; height: 50px;}
  }
textarea:focus, input:focus{
    outline: none;
}

/* The Modal (background) */
.modal {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#recconecting{
	display: none;
}
#session{
	display: block;
}
/* Modal Content */
.modal-content {
	background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
